p{
    color: brown;
    background-color: beige;
}
h2{
    color: darkviolet;
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
}
img{
    height: 400px;
    width: 400px;
}